<!DOCTYPE html>
<html>
<head>
    <title>Lista moich kursów</title>
</head>
<body>
    
    <a href="{{ url_for('logout') }}"><button>Wyloguj</button></a>

    

    {% if 'id_user' in session %}
    <h1>Witaj, {{ user_data.imie }}!</h1>
    {% endif %}
    <h1>Twoja lista kursów</h1>
    <button onclick="window.location.href='/moje-konto'">Wróć do mojego konta</button>

    <ul>
        {% for kurs in moje_kursy %}
        <li>
            <h3>{{ kurs[5] }}</h3>
            <p>Autor: {{ kurs[6] }}</p>
            <a href="{{ url_for('odtworz_kurs', id_zamowienia_kursy=kurs[0]) }}">
                <button type="button">Odtwórz kurs</button>
            </a>
            {% if kurs[0] in ulubione_kursy_ids %}
            <p>Ulubiony</p>
            <form action="/usun-ulubiony-kurs" method="post">
                <input type="hidden" name="redirect_page" value="moje-kursy">
                <input type="hidden" name="id_zamowienia_kursy" value="{{ kurs[0] }}">
                <button type="submit">Usuń z ulubionych</button>
              </form>
          {% else %}
            <form action="/dodaj-do-ulubionych" method="post">
              <input type="hidden" name="id_zamowienia_kursy" value="{{ kurs[0] }}">
              <button type="submit">Dodaj do ulubionych</button>
            </form>
          {% endif %}
        </li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href='/'">Strona główna</button>
    <br>
    <br>
</body>
</html>



