<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    {% if 'id_user' in session %}
    {% if msg %}
    <h2>{{ msg }}</h2>
    {% endif %}
    <h1>Witaj, {{ user_data.imie }}!</h1>
    <h1>Jesteś zalogowany jako, {{ user_data.e_mail }}!</h1>
    <h2>Oto Twoje dane:</h2>
    <p>Imię: {{ user_data.imie or '' }}</p>
    <p>Nazwisko: {{ user_data.nazwisko or '' }}</p>
    <p>Płeć: {{ user_data.plec or '' }}</p>
    <p>Telefon: {{ user_data.telefon or '' }}</p>
    <p>Data urodzenia: {{ user_data.data_urodzenia or '' }}</p>
    <p>Kraj: {{ user_data.kraj or '' }}</p>
    <p>Miasto: {{ user_data.miasto or '' }}</p>
    <p>Ulica: {{ user_data.ulica or '' }}</p>
    <p>Numer domu: {{ user_data.numer_domu or '' }}</p>
    <p>Kod pocztowy: {{ user_data.kod_pocztowy or '' }}</p>

    <br>

    <!-- Przycisk Edytuj -->
    <button onclick="window.location.href='/edytuj-dane'">Edytuj</button>
    <button onclick="window.location.href='/moje-konto'">Wróć do mojego konta</button>

    {% else %}
    <h1>Nie jesteś zalogowany</h1>
    {% endif %}
</body>
</html>
