<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    {% if 'id_user' in session %}
    <h1>Witaj, {{ user_data.imie }}!</h1>
    <h1>Jesteś zalogowany jako, {{ user_data.e_mail }}!</h1>
    <button onclick="window.location.href='/moje-dane'">Moje dane</button>
    <button onclick="window.location.href='/moje-kursy'">Moje kursy</button>
    <button onclick="window.location.href='/moje-korepetycje'">Moje korepetycje</button>
    <button onclick="window.location.href='/moje-ulubione-kursy'">Moje ulubione kursy</button>
    <button onclick="window.location.href='/kursy'">Szukaj kursów</button>
    <button onclick="window.location.href='/korepetycje'">Szukaj korepetycji</button>
    <button onclick="window.location.href='/'">Strona główna</button>
    <br>
    <br>
    <a href="{{ url_for('logout') }}"><button>Wyloguj</button></a>
    {% else %}
    <h1> Nie jesteś zalogowany </h1>
    {% endif %}

</body>
</html>
