<!DOCTYPE html>
<html>
<head>
    <title>Rejestracja użytkownika</title>
</head>
<body>
    <h1>Rejestracja użytkownika</h1>
    {% if error %}
        <p style="color: red;"> {{ error }}</p>
    {% endif %}
    <form method="POST" action="/rejestracja">
        <label>Email:</label>
        <input type="email" name="email" required><span style="color: red;">*</span><br><br>
        
        <label>Hasło:</label>
        <input type="password" name="password" required><span style="color: red;">*</span><br><br>
        
        <label>Imię:</label>
        <input type="text" name="imie" required><span style="color: red;">*</span><br><br>
        
        <label>Nazwisko:</label>
        <input type="text" name="nazwisko" required><span style="color: red;">*</span><br><br>
        
        <label>Płeć:</label>
        <select name="plec">
            <option value="Wybierz">Wybierz</option>
            <option value="Mezczyzna">Mezczyzna</option>
            <option value="Kobieta">Kobieta</option>
            <option value="Inna">Inna</option>
        </select><br><br>

        <label>Telefon:</label>
        <input type="text" name="telefon" placeholder="048000000000"><br><br>

        <label>Data urodzenia:</label>
        <input type="text" name="data_urodzenia" placeholder="rok-miesiac-dzien"><br><br>
        
        <label>Kraj:</label>
        <input type="text" name="kraj"><br><br>

        <label>Miasto:</label>
        <input type="text" name="miasto"><br><br>
        
        <label>Ulica:</label>
        <input type="text" name="ulica"><br><br>

        <label>Numer domu:</label>
        <input type="text" name="numer_domu"><br><br>

        <label>Kod pocztowy:</label>
        <input type="text" name="kod_pocztowy" placeholder="00-000"><br><br>

        <input type="submit" value="Zarejestruj">
    </form>
    <button onclick="window.location.href='/'">Wróć</button>

</body>
</html>
